html, body {
    margin:0;
    padding:0;
    height:100%;

    font-family: serif;
    background: #000;
    color: #000;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
    margin-bottom: 4px;
}

#container {
    width: 800px;
    min-height:100%;
    position:relative;
    padding: 0;
    margin: 0 auto;
    background: #fff;
}   

#header {
    background:#ff0;
    padding:10px;

    font-family: 'Nothing You Could Do', cursive;
    background: #eee;

    color: #DC143C;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    text-align: right;
}

#body {
    padding:16px;
    padding-bottom:80px;    /* Height of the footer */
}   

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;            /* Height of the footer */
    background:#eee;
    padding: 12px;
    box-sizing:border-box;

    font-family: Georgia, sans-serif;
    font-size: 13px;
    text-align: left;
}

#content {
    display: inline-block; 
    width: 480px;
}   

#sidebar {
    display: inline-block;
    width: 252px;
    vertical-align: top;
    padding: 6px 6px 0px 24px;
}

code {
    display: inline;
    background: #f3f3f3;
    border: 1px #ccc solid;
    padding: 2px;
}
pre code {
    display: block;
    background: #f3f3f3;
    border: 1px #ccc solid;
    padding: 6px;
}

.title {
    font-family: Georgia, serif;
    border-bottom: #eee 1px solid;
    margin: 0px;
    padding-bottom: 10px;
    font-size: 28px;
}

.postmeta{
    font-size: 13px;
}

.postmeta_text {
    font-family: serif;
}

.createdate {
    font-size: 12px;
    color: #666;
}

.postmeta_tags {
    font-size: 14px;
    color: #333;
    font-style: italic;
    font-weight: bold;
}

.author {
    font-size: 14px;
    font-weight: bold;
    font-family: Georgia, serif;
}

.postcontent {
    padding: 8px;
}

#sidebar ul {
    margin: 0px;
    padding: 0px 0px 0px 16px;
}

#sidebar li {
    margin-bottom: 12px;
    list-style: none
}

A:link {
    text-decoration: none;
    color: #DC143C;
}
A:visited {
    text-decoration: none;
    color: #DC143C;
}
A:active {
    text-decoration: none;
    color: #DC143C;
}
A:hover {
    text-decoration: none;
    color: #840228;
}
